body {
  background-image: url(images/dark.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: aliceblue;
}
#search-section {
  text-align: center;
  margin-top: 80px;
}

#input-search {
  width: 75%;
  height: 40px;
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
  border-radius: 10px;
}
#btn-search {
  padding: 10px;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
  font-size: medium;
}
#show-temp {
  text-align: center;
  margin-top: 30px;
  display: none;
}
#name-icon {
  display: flex;
  justify-content: space-around;
}
#city-name {
  color: rgb(228, 19, 12);
}
#sun {
  display: flex;
  justify-content: space-around;
  color: rgb(221, 122, 10);
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
  body {
    /* background-image: url(images/sunset.jpg); */
  }
  #search-section {
    margin-top: 30px;
  }
  h3 {
    font-size: medium;
  }
  .details {
    grid-template-columns: repeat(2, 1fr);
  }
}
